.slider-img {
    border-radius: 20px;
}

.c-control {
    height: 100px;
}

.slider-btn {
    background-color: transparent;
    height: 30px;
    width: 30px;
    border: 1px solid green;
    border-radius: 50%;
}
.active2{
padding: 5px;
height: 30px;
width: 30px;
}
.active2>span {
    display: block;
    background-color: rgb(16, 103, 45);
    height: 100%;
    width: 100%;
    border-radius: 50%;
}